body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #fdfff0;
}

.align-center {
    text-align: center;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.info-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }